<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Launcher.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsAutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameFolder" serializeAs="String">
                <value>未指定</value>
            </setting>
            <setting name="ProgressBarType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloadSpeedLimit" serializeAs="String">
                <value>0</value>
            </setting>
        </Launcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Launcher.Properties.Settings>
            <setting name="PatchDownloadURL" serializeAs="String">
                <value>https://xiongmaoren.kekouen.cn/pathlist</value>
            </setting>
            <setting name="PatchToDelete" serializeAs="String">
                <value>https://xiongmaoren.kekouen.cn/deletefile</value>
            </setting>
            <setting name="LauncherVersionUrl" serializeAs="String">
                <value>https://xiongmaoren.kekouen.cn/version</value>
            </setting>
            <setting name="LauncherNewsFileUrl" serializeAs="String">
                <value>https://xiongmaoren.kekouen.cn/newslist</value>
            </setting>
            <setting name="LauncherUpdates" serializeAs="String">
                <value>https://xiongmaoren.kekouen.cn/updates</value>
            </setting>
            <setting name="RealmlistURL" serializeAs="String">
                <value>https://xiongmaoren.kekouen.cn/relam</value>
            </setting>
            <setting name="ClientExeName" serializeAs="String">
                <value>Wow.exe</value>
            </setting>
        </Launcher.Properties.Settings>
    </applicationSettings>
</configuration>
